/* Color Tokens Light Theme */
:root {
  --vibe-elements-borderColor: theme('colors.alpha.gray.10');
  --vibe-elements-borderColorActive: theme('colors.accent.600');

  --vibe-elements-bg-depth-1: theme('colors.white');
  --vibe-elements-bg-depth-2: theme('colors.gray.50');
  --vibe-elements-bg-depth-3: theme('colors.gray.200');
  --vibe-elements-bg-depth-4: theme('colors.alpha.gray.5');

  --vibe-elements-textPrimary: theme('colors.gray.950');
  --vibe-elements-textSecondary: theme('colors.gray.600');
  --vibe-elements-textTertiary: theme('colors.gray.500');

  --vibe-elements-code-background: theme('colors.gray.100');
  --vibe-elements-code-text: theme('colors.gray.950');

  --vibe-elements-button-primary-background: theme('colors.alpha.accent.10');
  --vibe-elements-button-primary-backgroundHover: theme('colors.alpha.accent.20');
  --vibe-elements-button-primary-text: theme('colors.accent.500');

  --vibe-elements-button-secondary-background: theme('colors.alpha.gray.5');
  --vibe-elements-button-secondary-backgroundHover: theme('colors.alpha.gray.10');
  --vibe-elements-button-secondary-text: theme('colors.gray.950');

  --vibe-elements-button-danger-background: theme('colors.alpha.red.10');
  --vibe-elements-button-danger-backgroundHover: theme('colors.alpha.red.20');
  --vibe-elements-button-danger-text: theme('colors.red.500');

  --vibe-elements-item-contentDefault: theme('colors.alpha.gray.50');
  --vibe-elements-item-contentActive: theme('colors.gray.950');
  --vibe-elements-item-contentAccent: theme('colors.accent.700');
  --vibe-elements-item-contentDanger: theme('colors.red.500');
  --vibe-elements-item-backgroundDefault: rgba(0, 0, 0, 0);
  --vibe-elements-item-backgroundActive: theme('colors.alpha.gray.5');
  --vibe-elements-item-backgroundAccent: theme('colors.alpha.accent.10');
  --vibe-elements-item-backgroundDanger: theme('colors.alpha.red.10');

  --vibe-elements-loader-background: theme('colors.alpha.gray.10');
  --vibe-elements-loader-progress: theme('colors.accent.500');

  --vibe-elements-artifacts-background: theme('colors.white');
  --vibe-elements-artifacts-backgroundHover: theme('colors.alpha.gray.2');
  --vibe-elements-artifacts-borderColor: var(--vibe-elements-borderColor);
  --vibe-elements-artifacts-inlineCode-background: theme('colors.gray.100');
  --vibe-elements-artifacts-inlineCode-text: var(--vibe-elements-textPrimary);

  --vibe-elements-actions-background: theme('colors.white');
  --vibe-elements-actions-code-background: theme('colors.gray.800');

  --vibe-elements-messages-background: theme('colors.gray.100');
  --vibe-elements-messages-linkColor: theme('colors.accent.500');
  --vibe-elements-messages-code-background: theme('colors.gray.800');
  --vibe-elements-messages-inlineCode-background: theme('colors.gray.200');
  --vibe-elements-messages-inlineCode-text: theme('colors.gray.800');

  --vibe-elements-icon-success: theme('colors.green.500');
  --vibe-elements-icon-error: theme('colors.red.500');
  --vibe-elements-icon-primary: theme('colors.gray.950');
  --vibe-elements-icon-secondary: theme('colors.gray.600');
  --vibe-elements-icon-tertiary: theme('colors.gray.500');

  --vibe-elements-dividerColor: theme('colors.gray.100');

  --vibe-elements-prompt-background: theme('colors.alpha.white.80');

  --vibe-elements-sidebar-dropdownShadow: theme('colors.alpha.gray.10');
  --vibe-elements-sidebar-buttonBackgroundDefault: theme('colors.alpha.accent.10');
  --vibe-elements-sidebar-buttonBackgroundHover: theme('colors.alpha.accent.20');
  --vibe-elements-sidebar-buttonText: theme('colors.accent.700');

  --vibe-elements-preview-addressBar-background: theme('colors.gray.100');
  --vibe-elements-preview-addressBar-backgroundHover: theme('colors.alpha.gray.5');
  --vibe-elements-preview-addressBar-backgroundActive: theme('colors.white');
  --vibe-elements-preview-addressBar-text: var(--vibe-elements-textSecondary);
  --vibe-elements-preview-addressBar-textActive: var(--vibe-elements-textPrimary);

  --vibe-elements-terminals-background: theme('colors.white');
  --vibe-elements-terminals-buttonBackground: var(--vibe-elements-bg-depth-4);

  --vibe-elements-cta-background: theme('colors.gray.100');
  --vibe-elements-cta-text: theme('colors.gray.950');

  /* Terminal Colors */
  --vibe-terminal-background: var(--vibe-elements-terminals-background);
  --vibe-terminal-foreground: #333333;
  --vibe-terminal-selection-background: #00000040;
  --vibe-terminal-black: #000000;
  --vibe-terminal-red: #cd3131;
  --vibe-terminal-green: #00bc00;
  --vibe-terminal-yellow: #949800;
  --vibe-terminal-blue: #0451a5;
  --vibe-terminal-magenta: #bc05bc;
  --vibe-terminal-cyan: #0598bc;
  --vibe-terminal-white: #555555;
  --vibe-terminal-brightBlack: #686868;
  --vibe-terminal-brightRed: #cd3131;
  --vibe-terminal-brightGreen: #00bc00;
  --vibe-terminal-brightYellow: #949800;
  --vibe-terminal-brightBlue: #0451a5;
  --vibe-terminal-brightMagenta: #bc05bc;
  --vibe-terminal-brightCyan: #0598bc;
  --vibe-terminal-brightWhite: #a5a5a5;
}

/*
 * Element Tokens
 *
 * Hierarchy: Element Token -> (Element Token | Color Tokens) -> Primitives
 */
:root {
  --header-height: 54px;
  --chat-max-width: 37rem;
  --chat-min-width: 640px;
  --workbench-width: min(calc(100% - var(--chat-min-width)), 1536px);
  --workbench-inner-width: var(--workbench-width);
  --workbench-left: calc(100% - var(--workbench-width));

  /* Toasts */
  --toastify-color-progress-success: var(--vibe-elements-icon-success);
  --toastify-color-progress-error: var(--vibe-elements-icon-error);

  /* Terminal */
  --vibe-elements-terminal-backgroundColor: var(--vibe-terminal-background);
  --vibe-elements-terminal-textColor: var(--vibe-terminal-foreground);
  --vibe-elements-terminal-cursorColor: var(--vibe-terminal-foreground);
  --vibe-elements-terminal-selection-backgroundColor: var(--vibe-terminal-selection-background);
  --vibe-elements-terminal-color-black: var(--vibe-terminal-black);
  --vibe-elements-terminal-color-red: var(--vibe-terminal-red);
  --vibe-elements-terminal-color-green: var(--vibe-terminal-green);
  --vibe-elements-terminal-color-yellow: var(--vibe-terminal-yellow);
  --vibe-elements-terminal-color-blue: var(--vibe-terminal-blue);
  --vibe-elements-terminal-color-magenta: var(--vibe-terminal-magenta);
  --vibe-elements-terminal-color-cyan: var(--vibe-terminal-cyan);
  --vibe-elements-terminal-color-white: var(--vibe-terminal-white);
  --vibe-elements-terminal-color-brightBlack: var(--vibe-terminal-brightBlack);
  --vibe-elements-terminal-color-brightRed: var(--vibe-terminal-brightRed);
  --vibe-elements-terminal-color-brightGreen: var(--vibe-terminal-brightGreen);
  --vibe-elements-terminal-color-brightYellow: var(--vibe-terminal-brightYellow);
  --vibe-elements-terminal-color-brightBlue: var(--vibe-terminal-brightBlue);
  --vibe-elements-terminal-color-brightMagenta: var(--vibe-terminal-brightMagenta);
  --vibe-elements-terminal-color-brightCyan: var(--vibe-terminal-brightCyan);
  --vibe-elements-terminal-color-brightWhite: var(--vibe-terminal-brightWhite);
}
